<div class="row justify-content-center">
    <div class="col-sm-8 text-left bg-white rounded shadow py-3">
        <h1>About Us</h1>
        <p> The proposed project is a smart appointment booking system
            that provides patients or any user an easy way of booking a
            doctor’s appointment online. This is a web based application
            that overcomes the issue of managing and booking appointments
            according to user’s choice or demands. The task sometimes becomes
            very tedious for the compounder or doctor himself in manually allotting
            appointments for the users as per their availability. Hence this project
            offers an effective solution where users can view various booking slots
            available and select the preferred date and time. The already booked space
            will be marked yellow and will not be available for anyone else for the
            specified time. This system also allows users to cancel their booking anytime. </p>

        Group Members:
        <ol>
            <li>Jyoti Pathak</li>
            <li>Pravin Singh Katiyar</li>
            <li>Ritu Baghel</li>
            <li>Ankit kumar Singh</li>
            <li>Krishn kumar ahirwar</li>
        </ol>

    </div>
</div>