<h1 align="center">Search Test by Id</h1>
<div class="row justify-content-center">
    <div class="col-sm-6 text-left bg-white rounded shadow py-13">
<p class="text-danger"><small>{{msg}}</small></p>
<form #formdata="ngForm" (ngSubmit)="formdata.valid && findTestById(formdata)">
    <div>
         <label>Test Id</label><br>
         <input type="number" name="testId" class="form-control" required ngModel #testId="ngModel">
    </div>
    <div *ngIf="testId.errors!=null && testId.errors.required">
         test id is required.
    </div>
    <br>
    <input type="submit" value="Find Test">
   
</form>
<br>
<div id="foundTest" *ngIf="foundTest!=null">
     <p class="text-success">Test added successfully!!</p>
    <table class="table table-striped">
         <tr>
              <th>TestId</th>
              <th>TestName</th>
              <th>TestPrice</th>
         </tr>
         <tr>
              <td>{{foundTest.testId}}</td>
              <td>{{foundTest.testName}}</td>
              <td>{{foundTest.testPrice}}</td>
         </tr>
    </table>
</div>
</div>
</div>