input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px inset rgba(248, 3, 3, 0.274);
}

input.ng-valid.ng-touched,select.ng-valid.ng-touched{
    border: 1px solid greenyellow;
    box-shadow: 0 0 13px inset rgba(3, 248, 36, 0.274);
}