<div class="row justify-content-center">
    <div class="col-sm-10 text-left bg-white rounded shadow py-13">
        <div class="p-3 mb-2 bg-warning text-white">
            <h1>Welcome, {{customername}}</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Book an Appointment</h3>
                        <p class="card-text">Find some of the best medical test near you, and
                            book an appointment online with the Diagonistic Center near you of your choice , all
                            with just a few clicks and in a matter of a few minutes.</p>
                        <a href="#" class="btn btn-primary">Apply for Appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">View an Appointment</h3>
                        <p class="card-text">View the status of the appointments which you have requested in past.Check status of your appointment on the go.</p>
                        <br>
                        <a href="#" class="btn btn-primary">View status of Appointment</a>
                    </div>
                </div>
            </div>
      
    </div>
</div>
